<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/applist.css">
    <title>Applications</title>
</head>

<body>
    <div class="recent-grid">
        <div class="transcripts">
            <div class="card">
                <div class="card-header">
                    <h3>Transcript Applications</h3>
                </div>

                <div class="card-body">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Application ID</td>
                                <td>Applicant Name</td>
                                <td>Roll no</td>
                                <td>Action</td>
                            </tr>

                        <tbody>
                            <% for(let e of areview){%>
                                <tr>
                                    <td>
                                        <%= e._id %>
                                    </td>
                                    <td>
                                        <%= e.name %>
                                    </td>
                                    <td>
                                        <%= e.rollno %>
                                    </td>
                                    <td><button><a href="appreview.html">Review</a></button></td>
                                </tr>
                                <% } %>

                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
</body>

</html>